@import url("Effects.css");
@import url("Themes.css");

:root {
	font-size: calc(100 * 1vh / 17);
}

.app-background {
	background: var(--theme-primary-color);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	transition: background 0.33s;
	width: 100%;
	z-index: -100;
}

.app {
	height: 100%;
	text-align: center;
	width: 100%;
}

.app-content {
	display: inline-block;
	left: 50%;
	margin-top: 0.25rem;
}

.app-head {
	background-color: var(--theme-secondary-color);
	border-radius: 0.5rem;
	color: var(--theme-primary-color);
	height: 5rem;
	margin: 0.25rem;
	width: 8rem;
}

.app-head-m {
	--scale: 1;

	font-size: calc(100% * var(--scale));
	height: 3.5rem;
	line-height: 3.5rem;
}

.app-head-m img {
	display: inline-block;
	margin: 0.25rem;
	height: 3rem;
}

.app-head-location {
	--scale: 0.7;

	font-size: calc(100% * var(--scale));
	font-weight: bold;
	height: 1.5rem;
	line-height: 1.5rem;
}

.app-footer {
	--scale: 0.33;

	bottom: 0.25rem;
	color: var(--theme-secondary-color);
	font-size: calc(100% * var(--scale));
	left: 50%;
	position: fixed;
	transform: translate(-50%,0);
}

a {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}