@import url("Effects.css");
@import url("Themes.css");

:root {
	font-size: 5.88vh; /* 100 / 17 = 5.88 */
}

.app-background {
	background: var(--theme-primary-color);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	transition: background 0.33s;
	width: 100%;
	z-index: -100;
}

.app {
	height: 100%;
	text-align: center;
	width: 100%;
}

.app-col {
	display: inline-block;
	left: 50%;
	margin-top: 0.25rem;
	transition: width 0.33s;
	vertical-align:top;
	width: 8.5rem;
}

.app-col-empty {
	width: 0;
}

.app-footer {
	bottom: 0.25rem;
	color: var(--theme-secondary-color);
	font-size: 33%;
	left: 50%;
	position: fixed;
	transform: translate(-50%,0);
}

.app-footer-divider {
	display: inline-block;
	text-align: center;
	width: 0.5rem;
}

a {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}