.departure-row {
	--departure-row-height: 1.5rem;
	--departure-row-route-height: 1rem;

	background-color: var(--theme-secondary-color);
	border-radius: 0.5rem;
	color: var(--theme-primary-color);
	height: var(--departure-row-height);
	margin: 0.25rem;
	width: 8rem;
}

.departure-row-min {
	--scale: 0.75;

	float: left;
	font-size: calc(100% * var(--scale));
	height: var(--departure-row-height);
	line-height: var(--departure-row-height);
	margin-left: 0.25rem;
	overflow: hidden;
	width: 1rem;
}

.departure-row-min-rt {
	font-weight: bold;
}

.departure-row-min-HHmm {
	font-size: 40%;
}

.departure-row-min img {
	display: inline-block;
	margin: 0.25rem;
	height: 1em;
}

.theme-metro .departure-row-min {
	--scale: 1;

	margin-left: 0;
	width: 2rem;
}

.theme-default .departure-row-min {
	--scale: 1;

	margin-left: 0;
	width: 2rem;
}

.departure-row-route {
	--scale: 0.5;
	--top-bottom-margins: calc((var(--departure-row-height) - var(--departure-row-route-height)) / 2);

	background-color: var(--theme-primary-color);
	border-radius: 0.25rem;
	color: var(--theme-secondary-color);
	float: left;
	font-size: calc(100% * var(--scale));
	height: var(--departure-row-route-height);
	line-height: var(--departure-row-route-height);
	margin: var(--top-bottom-margins) 0 var(--top-bottom-margins) 0.25rem;
	overflow: hidden;
	width: 1rem;
}

.theme-bus .departure-row-route {
	--scale: 0.33;
}

.theme-metro .departure-row-route {
	display: none;
	width: 0;
}

.theme-default .departure-row-route {
	display: none;
	width: 0;
}

.departure-row-dest {
	--scale: 0.7;

	float: right;
	font-size: calc(100% * var(--scale));
	height: var(--departure-row-height);
	line-height: var(--departure-row-height);
	margin: 0 0.20rem;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
	width: 5rem;
}

.theme-metro .departure-row-dest {
	width: 5.5rem;
}

.theme-default .departure-row-dest {
	width: 5.5rem;
}
